/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;700&family=Press+Start+2P&family=Righteous&display=swap");

html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  /* background-image: linear-gradient(to bottom right, rgb(33, 124, 151), black);
  background-size: 400% 400%; */
  /* background: #f5f3fb; */
  background: var(--highlight-bg);
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Righteous", cursive !important;
}

/*grow vertically*/
/* .app-root {
  flex: 1 1 auto;
} */

.h1card {
  /* background: var(--surface-card); */
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  background: rgba(161, 79, 79, 0.13);
  /* box-shadow: 0 4px 30px rgba(10, 0, 0, 0.9); */
  box-shadow: 5px 10px var(--primary-color);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: var(--text-color);
  /* border: 1px solid rgba(255, 255, 255, 0.31);
    border-radius: 16px; */
}

.positive {
  color: lightgreen;
}

.negative {
  color: lightcoral;
}

.card {
  /* background: var(--surface-card); */
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  background: rgba(255, 255, 255, 0.13);
  box-shadow: 0 4px 30px rgba(10, 0, 0, 0.9);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.31);
  border-radius: 16px; */
}

#applicationMenubar {
  position: sticky;
  top: 0;
  z-index: 9998;
}

.p-button-label {
  font-weight: 500 !important;
}

.p-fieldset-legend-text {
  font-family: "Righteous", cursive;
  font-weight: lighter;
}

.p-tabview .p-tabview-panels {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.p-icon-wrapper {
  display: inline !important;
}

.p-confirm-popup {
  box-shadow: 0 1px 1px rgba(2, 0, 0, 0.2) !important;
  /* box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12); */
}

/* .p-datepicker table td {
  padding: 0.1rem !important;
} */

/* .p-dialog .p-dialog-header {
  border-bottom: 0 none;
  background: rgba(0, 0, 0, 1);
  background: var(--surface-overlay);
  box-shadow: 0 4px 30px rgba(10, 0, 0, 0.9);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: rgba(255, 255, 255, 0.87);
  padding: 1.25rem;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
} */

.p-toast {
  margin-top: 6dvh;
}

/* .p-dialog .p-dialog-content {
  background: var(--surface-overlay);
  box-shadow: 0 4px 30px rgba(10, 0, 0, 0.9);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: rgba(255, 255, 255, 0.87);
  padding: 0 1.25rem 1.25rem 1.25rem;
} */

.p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
  padding: 0.5rem 0.5rem;
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: center;
  padding: 1rem 0.5rem;
}
.user-img-shake {
  animation: shake 1s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
} */

/* .bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
} */
