/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "primeicons/primeicons.css";

body {
  font-family: var(--font-family);
  background-image: linear-gradient(
    to bottom right,
    black,
    rgba(0, 0, 0, 0.836)
  );
  height: 100vh;
}
