<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-10">
      <fieldset>
        <legend>Or</legend>
        <section class="login">
          <div
            class="d-flex justify-content-center align-items-center m-3 text-center"
          >
            <img [src]="imgSrc" [className]="imgClass" alt="" srcset="" />
          </div>

          <div
            class="d-flex justify-content-center align-items-center m-3 text-center"
          >
            <h2>{{ loginTitle }}</h2>
          </div>

          <div
            class="d-flex justify-content-center align-items-center m-3 text-center"
          >
            <form [formGroup]="form" (submit)="login()">
              <div class="p-inputgroup my-3">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-user"></i>
                </span>
                <input
                  [style]="{ width: '100%' }"
                  pInputText
                  placeholder="Username"
                  formControlName="username"
                  (click)="resetLoginPage()"
                />
              </div>
              <div>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                    <fa-icon [icon]="passwordIcon"></fa-icon>
                  </span>
                  <p-password
                    [style]="{ width: '100%' }"
                    [inputStyle]="{ width: '100%' }"
                    id="pwd"
                    formControlName="password"
                    placeholder="Password"
                    [toggleMask]="true"
                    [feedback]="false"
                  ></p-password>
                </div>
              </div>

              <div class="d-flex flex-row-reverse align-items-center">
                <p-button
                  label="Forget Password?"
                  styleClass="p-button-info p-button-text"
                ></p-button>
              </div>

              <div
                class="d-flex justify-content-center align-items-center mt-3"
              >
                <p-button
                  styleClass="p-button-primary"
                  [disabled]="form.invalid"
                  type="submit"
                >
                  Log In
                </p-button>
                <!-- <p-button
                  icon="pi pi-google"
                  styleClass="p-button-rounded p-button-danger p-button-outlined"
                ></p-button> -->
              </div>
            </form>
          </div>
        </section>
      </fieldset>
    </div>

    <div class="row justify-content-center align-items-center mt-3 mb-3">
      <div class="col-10">
        <section class="sign-up">
          <div class="d-flex justify-content-center align-items-center">
            <asl-google-signin-button
              type="standard"
              theme="filled_black"
            ></asl-google-signin-button>
            <p-button
              class="ms-3"
              type="button"
              styleClass="p-button-help"
              (onClick)="showSignUpDialog()"
            >
              Sign Up
            </p-button>
          </div>
        </section>
      </div>
    </div>

    <div class="row justify-content-center align-items-center mt-3">
      <div class="col-10">
        <section class="mobile-app">
          <div class="d-flex justify-content-center align-items-center">
            Download the app for full mobile experience
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <img alt="app-store" src="/assets/images/apple.png" />
            <img alt="app-store" src="/assets/images/google.png" />
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
