.custom-background {
  background: var(--surface-card);
  padding: 0.5rem;
  border-radius: 6px;
}

.export-buttons {
  margin-right: 1rem;
}

.donutbackground,
.linebackground {
  background: var(--surface-overlay);
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* dialog {
  background-color: rgba(32, 82, 221, 0.8);
  color: white;
  border-color: transparent;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #020202;
} */

/* #year {
  color: green;
  box-shadow: 5px 10px #888888;
} */

#year:hover {
  cursor: pointer;
}

.add-transaction {
  font-family: "Righteous", cursive;
}

.add-transaction:hover {
  cursor: pointer;
  transform: scale(1.03);
}
