.custom-background {
  background: var(--surface-card);
  padding: 1.5rem;
  border-radius: 6px;
}

.export-buttons {
  margin-right: 1rem;
}

.donutbackground,
.linebackground {
  background: var(--surface-overlay);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* dialog {
  background-color: rgba(32, 82, 221, 0.8);
  color: white;
  border-color: transparent;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #020202;
} */

dialog::backdrop {
  background-color: rgba(112, 111, 111, 0.5);
}

#dialogModal {
  box-shadow: 5px 10px #888888;
  border-radius: 8px;
  border: none;
  font-family: "Righteous", cursive;
}

#dialogModal header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#dialogSubmitButton {
  background-color: green;
  border: none;
  color: white;
  padding: 12px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 2px 4px #888888;
}

#closeDialogFooterBtn {
  background-color: gray;
  border: none;
  color: white;
  padding: 12px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 2px 4px #888888;
}

#addTransaction:hover {
  cursor: pointer;
}

#year {
  color: green;
  box-shadow: 5px 10px #888888;
}

#year:hover {
  cursor: pointer;
}

.dialogBtn:hover {
  transform: scale(1.1);
}
