#pageTwo {
  display: none;
}

#pageThree {
  display: none;
}

h3 {
  font-family: "Righteous", cursive;
}

.user-password:hover {
  cursor: zoom-in;
}

.w-3rem {
  width: 2rem;
}

.h-3rem {
  height: 2rem;
}
