<div class="container">
  <section class="product-description">
    <div class="row justify-content-center align-items-center my-3">
      <div
        class="col-10 d-flex justify-content-center align-items-center"
        [style]="{ height: '50dvh' }"
      >
        <div class="d-flex flex-column align-items-center">
          <div>
            <h3>
              Product Description Here
              <fa-icon [icon]="chartIcon" animation="spin-pulse"></fa-icon>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="product-description">
    <div class="row justify-content-center align-items-center my-3">
      <div
        class="col-10 d-flex justify-content-center align-items-center"
        [style]="{ height: '50dvh' }"
      >
        <div class="d-flex flex-column align-items-center">
          <div>
            <h3>
              Product Description Here
              <fa-icon [icon]="chartIcon" animation="spin-pulse"></fa-icon>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <button
    id="scrollUpBtn"
    *ngIf="displayButton"
    (click)="topFunction()"
    pButton
    pRipple
    class="p-button-info"
  >
    <fa-icon [icon]="pointUpIcon"></fa-icon>
  </button>
  <p-toast></p-toast>
</div>
