<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12">
      <form [formGroup]="form">
        <div class="d-flex flex-column m-4">
          <label htmlFor="date">Date</label>
          <p-calendar
            id="date"
            [showIcon]="true"
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
            [showButtonBar]="true"
            formControlName="date"
          ></p-calendar>
        </div>
        <div class="d-flex flex-column m-4">
          <label htmlFor="transactionName">Transaction Name</label>
          <input
            pInputText
            id="transactionName"
            formControlName="transactionName"
            autofocus
          />
        </div>
        <div class="d-flex flex-column m-4">
          <label htmlFor="amount">Amount</label>
          <p-inputNumber
            id="amount"
            mode="decimal"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
            formControlName="amount"
          >
          </p-inputNumber>
        </div>
        <div class="d-flex flex-column m-4">
          <label htmlFor="categoryName">Category</label>
          <p-dropdown
            [options]="categoriesItems"
            optionLabel="label"
            optionValue="value"
            [filter]="true"
            filterBy="label"
            [showClear]="true"
            placeholder="Select a Category"
            [style]="{ width: '100%' }"
            formControlName="categoryName"
            [(ngModel)]="selectedCategory"
          >
            <ng-template pTemplate="selectedItem">
              <div
                class="flex align-items-center gap-2"
                *ngIf="selectedCategory"
              >
                <div class="d-flex align-items-center gap-2">
                  <p-tag
                    [value]="getSelectedCategoryType() | uppercase"
                    [severity]="getSeverityType()"
                  >
                  </p-tag>
                  <div>{{ selectedCategory }}</div>
                </div>
              </div>
            </ng-template>
            <ng-template let-category pTemplate="item">
              <div class="d-flex align-items-center gap-2">
                <p-tag
                  [value]="category.object.type | uppercase"
                  [severity]="getSeverity(category.object.type)"
                ></p-tag>
                <div>{{ category.object.categoryName }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <!-- <div class="d-flex flex-column m-4">
          <label htmlFor="categoryName">Type of Transaction</label>
          <p-dropdown
            inputId="type"
            [options]="typesItems"
            formControlName="type"
            [style]="{ width: '100%' }"
          >
            <ng-template let-option pTemplate="selectedItem">
              <p-tag
                [value]="option.label"
                [severity]="getSeverity(option.value)"
              ></p-tag>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <p-tag
                [value]="option.label"
                [severity]="getSeverity(option.value)"
              ></p-tag>
            </ng-template>
          </p-dropdown>
        </div> -->
        <div class="d-flex flex-column m-4">
          <label for="remarks">Remarks</label>
          <textarea
            id="remarks"
            pInputTextarea
            [autoResize]="true"
            rows="8"
            formControlName="remarks"
            placeholder="For mortgage monthly repayment, please enter mortgage ID (i.e. #Mortgage-1)"
            [style]="{ width: '100%' }"
          ></textarea>
        </div>
        <div class="d-flex flex-row-reverse m-4">
          <div>
            <button
              pButton
              pRipple
              label="Save"
              icon="pi pi-check"
              class="p-button-text"
              (click)="saveTransaction()"
              [disabled]="form.invalid"
            ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
