<p-menubar *ngIf="isLogin()" [model]="items" id="applicationMenubar">
  <ng-template pTemplate="start" class="mx-2">
    <p-avatar
      [image]="imgSrc"
      styleClass="mr-2"
      size="large"
      shape="circle"
    ></p-avatar>

    <!-- <img src="/assets/images/puzzle.png" height="30" class="mr-2" /> -->
  </ng-template>
  <ng-template #menuItemTempalte let-item>
    <a *ngIf="!item.routerLink" [href]="item.url" [target]="item.target">
      <i class="{{ item.icon }}"></i>
      <span>{{ item.label }}</span>
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <input type="text" pInputText placeholder="Search" class="w-full" />
    <p-button
      icon="pi pi-power-off"
      label="Logout"
      styleClass=" p-button-text p-button-danger"
      (onClick)="logout()"
    ></p-button>
  </ng-template>
</p-menubar>

<p-menubar *ngIf="!isLogin()" [model]="items" id="applicationMenubar">
  <ng-template pTemplate="start" class="mx-2">
    <div class="application-name fs-2">
      <p>am.app</p>
    </div>
  </ng-template>
  <ng-template #menuItemTempalte let-item>
    <a *ngIf="!item.routerLink" [href]="item.url" [target]="item.target">
      <i class="{{ item.icon }}"></i>
      <span>{{ item.label }}</span>
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <p-button styleClass=" p-button-text" (onClick)="showLoginDialog()">
      <fa-icon [icon]="loginIcon" animation="bounce"></fa-icon>
      <span class="ms-2 fw-bolder">Login</span>
    </p-button>
    <p-button
      icon="pi pi-user"
      label="Sign Up"
      styleClass=" p-button-text p-button-secondary"
      (onClick)="showSignUpDialog()"
    ></p-button>
  </ng-template>
</p-menubar>

<router-outlet id="router-outlet"></router-outlet>

<footer class="mt-5" id="footer">
  <div class="footer">
    <div class="row">
      <div class="d-flex justify-content-center align-items-center">
        <a href="#"><fa-icon [icon]="facebookIcon"></fa-icon></a>
        <a href="#"><fa-icon [icon]="instaIcon"></fa-icon></a>
        <a href="#"><fa-icon [icon]="youtubeIcon"></fa-icon></a>
        <a href="#"><fa-icon [icon]="twitterIcon"></fa-icon></a>
      </div>
    </div>

    <div class="row">
      <ul>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Our Services</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Career</a></li>
      </ul>
    </div>

    <div class="row ps-4">
      Copyright © 2023 TFIP - All rights reserved || Designed By: David
    </div>
  </div>
</footer>
