<p-menubar *ngIf="isLogin()" [model]="items" id="applicationMenubar">
  <ng-template pTemplate="start" class="mx-2">
    <p-avatar
      [image]="imgSrc"
      styleClass="mr-2"
      size="large"
      shape="circle"
    ></p-avatar>
    <!-- <img src="/assets/images/puzzle.png" height="30" class="mr-2" /> -->
  </ng-template>
  <ng-template #menuItemTempalte let-item>
    <a *ngIf="!item.routerLink" [href]="item.url" [target]="item.target">
      <i class="{{ item.icon }}"></i>
      <span>{{ item.label }}</span>
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <input type="text" pInputText placeholder="Search" class="w-full" />
    <p-button
      icon="pi pi-power-off"
      label="Logout"
      styleClass=" p-button-text p-button-danger"
      (onClick)="logout()"
    ></p-button>
  </ng-template>
</p-menubar>

<p-menubar *ngIf="!isLogin()" [model]="items" id="applicationMenubar">
  <ng-template pTemplate="start" class="mx-2">
    <div class="application-name fs-2">
      <p>AMG</p>
    </div>
  </ng-template>
  <ng-template #menuItemTempalte let-item>
    <a *ngIf="!item.routerLink" [href]="item.url" [target]="item.target">
      <i class="{{ item.icon }}"></i>
      <span>{{ item.label }}</span>
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <p-button styleClass=" p-button-text">
      <fa-icon [icon]="loginIcon" animation="bounce"></fa-icon>
      <span class="ms-2 fw-bolder">Login </span>
    </p-button>
    <p-button
      icon="pi pi-user"
      label="Sign Up"
      styleClass=" p-button-text p-button-secondary"
    ></p-button>
  </ng-template>
</p-menubar>

<router-outlet></router-outlet>
