<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-10 text-center ms-3 mb-5 h1card">
      <h1>{{ userGreeting }} {{ username() | titlecase }}</h1>
      <div *ngIf="quoteOfTheDay" class="mt-3">
        <p class="mb-0 font-monospace fs-5">"{{ quoteOfTheDay }}"</p>
      </div>
    </div>
    <section *ngIf="totalValue(); else newUser">
      <section *ngIf="!skeletonLoading; else skeleton">
        <!-- DONUT CHART OVERALL-->
        <div class="row justify-content-evenly align-items-center m-4">
          <div class="col-10 donutbackground">
            <div class="row justify-content-evenly align-items-center">
              <div class="col-6 dashboard-text">
                <div class="d-flex flex-column align-items-start">
                  <h3 class="mb-3">
                    Total Assets Value
                    <span
                      class="pi pi-angle-right"
                      style="font-size: 1.5rem"
                    ></span>
                    <span *ngIf="!skeletonLoading; else loading">
                      {{ totalValue() | currency }}
                      <span
                        *ngIf="totalValue()"
                        class="ms-2"
                        [className]="getColor(stockChangePercentage)"
                      >
                        ({{ stockChangePercentage | percent : "1.2-2" }})
                      </span>
                    </span>
                  </h3>
                  <div>
                    <h4>
                      Investments
                      <span
                        class="pi pi-angle-right"
                        style="font-size: 1.5rem"
                      ></span>
                      <span *ngIf="!skeletonLoading; else loading">
                        {{ stocksValue() | currency }}
                        <span
                          *ngIf="stocksValue()"
                          class="ms-2"
                          [className]="getColor(stockChangePercentage)"
                        >
                          ({{ stockChangePercentage | percent : "1.2-2" }})
                        </span>
                      </span>
                    </h4>
                  </div>
                  <div>
                    <h4>
                      Savings
                      <span
                        class="pi pi-angle-right"
                        style="font-size: 1.5rem"
                      ></span>
                      <span *ngIf="!skeletonLoading; else loading">
                        {{ savingsValue() | currency }}
                      </span>
                    </h4>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <p-chart
                  type="doughnut"
                  [data]="donutDataOverall"
                  [options]="donutOptionsOverall"
                ></p-chart>
              </div>
            </div>
          </div>
        </div>

        <!-- DONUT CHART INVESTMENT -->
        <div
          *ngIf="stocksCount.length > 0"
          class="row justify-content-evenly align-items-center m-4"
        >
          <div class="col-10 donutbackground">
            <div class="row justify-content-evenly align-items-center mt-2">
              <div class="col-3">
                <p-chart
                  type="doughnut"
                  [data]="donutDataInvestment"
                  [options]="donutOptionsInvestment"
                ></p-chart>
              </div>
              <div class="col-6 dashboard-text">
                <div class="d-flex flex-column align-items-start">
                  <h3 class="mb-3">
                    <i
                      class="pi pi-info-circle"
                      pTooltip="Current investment holdings + realized P&L"
                    ></i>
                    Total Stock Value
                    <span
                      class="pi pi-angle-right"
                      style="font-size: 1.5rem"
                    ></span>
                    <span *ngIf="!skeletonLoading; else loading">
                      {{ totalStocksValue() | currency }}
                      <span
                        *ngIf="totalStocksValue()"
                        class="ms-2"
                        [className]="getColor(stockChangePercentage)"
                      >
                        ({{ stockChangePercentage | percent : "1.2-2" }})
                      </span>
                    </span>
                  </h3>

                  <h4>
                    Unrealized P&L
                    <span
                      class="pi pi-angle-right"
                      style="font-size: 1.5rem"
                    ></span>
                    <span
                      *ngIf="!skeletonLoading; else loading"
                      [className]="
                        getProfitColorClass(stocksUnrealizedProfit())
                      "
                    >
                      {{ stocksUnrealizedProfit() | currency }}
                    </span>
                  </h4>
                  <h4>
                    Realized P&L
                    <span
                      class="pi pi-angle-right"
                      style="font-size: 1.5rem"
                    ></span>
                    <span
                      *ngIf="!skeletonLoading; else loading"
                      [className]="getProfitColorClass(stocksRealizedProfit())"
                    >
                      {{ stocksRealizedProfit() | currency }}
                    </span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- DONUT CHART SAVINGS  -->
        <div
          *ngIf="haveTransactions()"
          class="row justify-content-evenly align-items-center m-4"
        >
          <div class="col-10 donutbackground">
            <div class="row justify-content-evenly align-items-center">
              <div class="col-6 dashboard-text">
                <div class="d-flex flex-column align-items-start">
                  <h3 class="mb-3">
                    <p-button
                      styleClass="p-button-rounded p-button-text"
                      (onClick)="toggleMonthlyAverage()"
                    >
                      <fa-icon [icon]="switchIcon"></fa-icon>
                    </p-button>
                    <span *ngIf="showYearSavings">
                      Year {{ thisYear() }} Net Savings
                      <span
                        class="pi pi-angle-right"
                        style="font-size: 1.5rem"
                      ></span>
                      <span
                        *ngIf="!skeletonLoading; else loading"
                        [className]="getProfitColorClass(savingsValueYearly())"
                      >
                        {{ savingsValueYearly() | currency }}
                      </span>
                    </span>
                    <span *ngIf="showTotalExpense">
                      Total Expense ({{ thisYear() }})
                      <span
                        class="pi pi-angle-right"
                        style="font-size: 1.5rem"
                      ></span>
                      <span
                        *ngIf="!skeletonLoading; else loading"
                        class="negative"
                      >
                        {{ totalExpense() | currency }}
                      </span>
                    </span>
                    <span *ngIf="showTotalIncome">
                      Total Income ({{ thisYear() }})
                      <span
                        class="pi pi-angle-right"
                        style="font-size: 1.5rem"
                      ></span>
                      <span
                        *ngIf="!skeletonLoading; else loading"
                        class="positive"
                      >
                        {{ totalIncome() | currency }}
                      </span>
                    </span>
                  </h3>
                  <div>
                    <h4>
                      Average Monthly <span class="positive">Income</span>
                      <span
                        class="pi pi-angle-right"
                        style="font-size: 1.5rem"
                      ></span>
                      <span *ngIf="!skeletonLoading; else loading">
                        {{ averageMonthlyIncome() | currency }}
                      </span>
                    </h4>
                  </div>
                  <div>
                    <h4>
                      Average Monthly <span class="negative">Expense</span>
                      <span
                        class="pi pi-angle-right"
                        style="font-size: 1.5rem"
                      ></span>
                      <span *ngIf="!skeletonLoading; else loading">
                        {{ averageMonthlyExpense() | currency }}
                      </span>
                    </h4>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <p-chart
                  type="doughnut"
                  [data]="donutDataSavings"
                  [options]="donutOptionsSavings"
                ></p-chart>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-evenly align-items-center g-2 m-4">
          <!-- LINE CHART -->
          <div class="col-10 linebackground">
            <div class="d-flex flex-row-reverse mb-2">
              <p-button
                (click)="op.toggle($event)"
                icon="pi pi-chart-line"
                label="Set Goal"
                styleClass="p-button-rounded"
                pTooltip="Set your goal here"
              ></p-button>
            </div>
            <p-chart
              type="line"
              [data]="lineData"
              [options]="lineOptions"
            ></p-chart>
          </div>
        </div>
      </section>
    </section>

    <p-overlayPanel #op>
      <ng-template pTemplate="content">
        <h6>Enter your yearly goal</h6>
        <form [formGroup]="goalForm">
          <input
            pInputText
            pKeyFilter="money"
            class="p-inputtext-sm"
            placeholder="Press 'Enter' to submit"
            formControlName="goal"
            (keypress)="submitGoal($event)"
          />
        </form>
      </ng-template>
    </p-overlayPanel>
  </div>
  <p-toast></p-toast>
  <!-- SCROLL UP BTN -->
  <p-scrollTop></p-scrollTop>
</div>

<ng-template #loading>
  Fetching data <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i
></ng-template>

<ng-template #skeleton>
  <div class="row justify-content-center align-items-center">
    <div class="col-10">
      <p-skeleton height="50dvh"></p-skeleton>
    </div>
  </div>
  ></ng-template
>

<ng-template #newUser>
  <div class="row justify-content-center align-items-center my-5">
    <div
      class="col-10 d-flex justify-content-center align-items-center h1card"
      [style]="{ height: '50dvh' }"
    >
      <div class="d-flex flex-column align-items-center">
        <div>
          <h3>
            Hi new joinee, welcome to am.app
            <fa-icon [icon]="smileIcon"></fa-icon>
          </h3>
        </div>

        <div>
          <h3>
            To begin your jouney, please follow the steps below to build your
            profile:
          </h3>
        </div>

        <div class="my-5 d-flex flex-column justify-content-evenly">
          <div
            *ngIf="showAddGoal"
            class="add-transaction mb-3"
            (click)="op.toggle($event)"
          >
            <h5>
              <fa-icon [icon]="pointRightIcon"></fa-icon>
              Set your target amount to achieve this year (i.e. $50,000)
            </h5>
          </div>
          <div
            class="add-transaction mb-3"
            [routerLink]="'/investment-dashboard'"
          >
            <h5>
              <fa-icon [icon]="pointRightIcon"></fa-icon>
              Add stock transactions to your portfolio
            </h5>
          </div>

          <div class="add-transaction mb-3" [routerLink]="'/savings'">
            <h5>
              <fa-icon [icon]="pointRightIcon"></fa-icon>
              Add expense and income record to your savings
            </h5>
          </div>

          <div class="add-transaction" [routerLink]="'/mortgage-dashboard'">
            <h5>
              <fa-icon [icon]="pointRightIcon"></fa-icon>
              Add mortgage profile
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
