<div class="container">
  <div class="card flex justify-content-center">
    <p-fieldset
      inputId="ac1"
      legend="Summary"
      [toggleable]="true"
      class="text-center"
    >
      <code>Total Assets Value: {{ totalValue | currency }}</code>
    </p-fieldset>
  </div>

  <div class="row justify-content-evenly align-items-center">
    <!-- DONUT CHART -->
    <div class="col-4 card g-2">
      <p-chart
        type="doughnut"
        [data]="donutData"
        [options]="donutOptions"
      ></p-chart>
    </div>

    <!-- LINE CHART -->
    <div class="col-7 card g-2">
      <p-chart type="line" [data]="lineData" [options]="lineOptions"></p-chart>
    </div>
  </div>
</div>
