<div class="container">
  <p-breadcrumb
    class="max-w-full m-2"
    [model]="breadcrumbItems"
    [home]="breadcrumbHome"
  ></p-breadcrumb>
  <div class="row justify-content-center align-items-center g-2">
    <div class="col-10 text-center mt-3 mb-5 h1card">
      <div class="d-flex flex-column">
        <div>
          <h3>Transaction Records</h3>
        </div>
        <div>
          <h3>
            <span
              id="dates"
              class="fw-bolder"
              pTooltip="Press to select dates"
              (click)="showDialog()"
            >
              {{ startDate() }} - {{ endDate() }}
            </span>
          </h3>
        </div>
        <div class="mt-3 record-summary">
          <div>
            <h4>=> Record type: {{ typeOfRecord() | titlecase }}</h4>
          </div>
          <div *ngIf="typeOfRecord() === 'all' || typeOfRecord() === 'income'">
            <h4>=> Total Income: {{ totalIncome() | currency }}</h4>
          </div>
          <div *ngIf="typeOfRecord() === 'all' || typeOfRecord() === 'expense'">
            <h4>=> Total Expense: {{ totalExpense() | currency }}</h4>
          </div>
          <div *ngIf="typeOfRecord() === 'all'">
            <h4>=> Total Balance: {{ totalBalance() | currency }}</h4>
          </div>
        </div>
      </div>
      <dialog #appDialog id="dialogModal">
        <header>
          <h2 class="header">Select records</h2>
          <button (click)="closeDialog()" id="closeDialogHeader">x</button>
        </header>

        <section class="mt-2">
          <form [formGroup]="dateForm">
            <div
              class="d-flex flex-column justify-content-start align-items-center"
            >
              <div>
                <label for="startDateInput" class="fs-4">Start date:</label>
                <input
                  id="startDateInput"
                  class="ms-2 fs-4"
                  type="date"
                  formControlName="startDate"
                />
              </div>
              <div class="mt-2">
                <label for="endDateInput" class="fs-4">End date:</label>
                <input
                  id="endDateInput"
                  class="ms-2 fs-4"
                  type="date"
                  formControlName="endDate"
                />
              </div>
              <div class="mt-2">
                <label for="recordTypeInput" class="fs-4">Record type:</label>
                <select
                  formControlName="typeOfRecord"
                  id="recordTypeInput"
                  class="ms-2 fs-4"
                >
                  <option value="all">All</option>
                  <option value="income">Income</option>
                  <option value="expense">Expense</option>
                </select>
              </div>
            </div>
            <div *ngIf="dateForm.invalid">
              <p class="negative mt-1">Invalid dates</p>
            </div>
          </form>
        </section>

        <footer>
          <div class="d-flex justify-content-center mt-3">
            <button
              class="dialogBtn"
              type="button"
              (click)="closeDialog()"
              id="closeDialogFooterBtn"
            >
              Close
            </button>
            <button
              id="dialogSubmitButton"
              class="ms-3 dialogBtn"
              type="button"
              (click)="getTransaction()"
              [disabled]="dateForm.invalid"
            >
              Get Records
            </button>
          </div>
        </footer>
      </dialog>
    </div>
  </div>

  <section *ngIf="transactions.length > 0; else noTransactionData">
    <div class="row justify-content-evenly align-items-center g-2">
      <div class="col-4 donutbackground">
        <div class="d-flex flex-row-reverse"></div>
        <p-chart
          type="doughnut"
          [data]="donutData"
          [options]="donutOptions"
          [plugins]="chartPlugin"
        ></p-chart>
      </div>
      <div class="col-7 linebackground">
        <div *ngIf="!skeletonLoading; else skeleton">
          <p-chart
            type="bar"
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="chartPlugin"
          ></p-chart>
        </div>
      </div>
    </div>

    <div class="row justify-content-center align-items-center g-2 mt-3">
      <div class="col-12 custom-background m-3">
        <p-toolbar styleClass="mb-4 gap-2">
          <ng-template pTemplate="left">
            <button
              pButton
              pRipple
              label="New"
              icon="pi pi-plus"
              class="p-button-rounded p-button-info mr-2 me-3"
              (click)="newTransaction()"
            ></button>
            <div>
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-file"
                (click)="dt1.exportCSV()"
                class="export-buttons"
                pTooltip="CSV"
                tooltipPosition="bottom"
              ></button>
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-file-excel"
                (click)="exportExcelPortfolio()"
                class="p-button-success export-buttons"
                pTooltip="XLS"
                tooltipPosition="bottom"
              ></button>
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-file-pdf"
                (click)="exportPdfPortfolio()"
                class="p-button-danger export-buttons"
                pTooltip="PDF"
                tooltipPosition="bottom"
              ></button>
            </div>
          </ng-template>

          <ng-template pTemplate="right">
            <div>
              <button
                pButton
                label="Clear"
                class="p-button-outlined"
                icon="pi pi-filter-slash"
                (click)="clear(dt1)"
              ></button>
              <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input
                  id="input1"
                  #input1
                  pInputText
                  type="text"
                  (input)="dt1.filterGlobal(input1.value, 'contains')"
                  placeholder="Search keyword"
                />
              </span>
            </div>
          </ng-template>
        </p-toolbar>

        <p-table
          id="transTable"
          #dt1
          [columns]="transactionCol"
          [value]="transactions"
          dataKey="transactionId"
          editMode="row"
          [rowHover]="true"
          [loading]="transactionloading"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10, 20, 50, transactions.length]"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 14.3%" pSortableColumn="date">
                Date <p-sortIcon field="date"></p-sortIcon>
              </th>
              <th style="width: 14.3%">Name</th>
              <th style="width: 14.3%" pSortableColumn="amount">
                Amount <p-sortIcon field="amount"></p-sortIcon>
              </th>
              <th style="width: 14.3%">Category</th>
              <th style="width: 14.3%">
                Type
                <p-columnFilter
                  type="text"
                  field="type"
                  display="menu"
                ></p-columnFilter>
              </th>
              <th style="width: 14.3%">Remarks</th>
              <th style="width: 14.3%">Action</th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-transaction
            let-editing="editing"
            let-ri="rowIndex"
          >
            <tr [pEditableRow]="transaction">
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputMask
                      mask="9999-99-99"
                      [(ngModel)]="transaction.date"
                      placeholder="yyyy-MM-dd"
                    ></p-inputMask>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ transaction.date | date }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      type="text"
                      [(ngModel)]="transaction.transactionName"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ transaction.transactionName }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      type="number"
                      [(ngModel)]="transaction.amount"
                      required
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ transaction.amount | currency }}
                  </ng-template>
                </p-cellEditor>
              </td>

              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-dropdown
                      [options]="categoriesItems"
                      optionLabel="label"
                      optionValue="value"
                      [filter]="true"
                      filterBy="label"
                      [showClear]="true"
                      appendTo="body"
                      [(ngModel)]="transaction.categoryName"
                      [style]="{ width: '100%' }"
                    >
                      <!-- NOTE output value for catergory at dropdown button above -->
                      <ng-template let-category pTemplate="item">
                        <div class="d-flex align-items-center gap-2">
                          <p-tag
                            [value]="category.object.type | uppercase"
                            [severity]="getSeverity(category.object.type)"
                          ></p-tag>
                          <div>{{ category.object.categoryName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ transaction.categoryName }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-tag
                  [severity]="getSeverity(transaction.type)"
                  [value]="transaction.type | uppercase"
                  [rounded]="true"
                ></p-tag>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      type="text"
                      [(ngModel)]="transaction.remarks"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ transaction.remarks }}
                  </ng-template>
                </p-cellEditor>
              </td>

              <td>
                <div
                  class="flex align-items-center justify-content-center gap-2"
                >
                  <button
                    *ngIf="!editing"
                    pButton
                    pRipple
                    type="button"
                    pInitEditableRow
                    icon="pi pi-pencil"
                    (click)="onRowEditInit(transaction)"
                    class="p-button-rounded p-button-text"
                  ></button>
                  <p-confirmPopup></p-confirmPopup>
                  <button
                    *ngIf="!editing"
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-danger p-button-rounded p-button-text"
                    (click)="deleteSelectedTransaction($event, transaction)"
                  ></button>
                  <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pSaveEditableRow
                    icon="pi pi-check"
                    (click)="onRowEditSave(transaction)"
                    class="p-button-rounded p-button-text p-button-success mr-2"
                  ></button>
                  <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pCancelEditableRow
                    icon="pi pi-times"
                    (click)="onRowEditCancel(transaction, ri)"
                    class="p-button-rounded p-button-text p-button-danger"
                  ></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </section>
  <p-toast></p-toast>
  <!-- SCROLL UP BTN -->
  <p-scrollTop></p-scrollTop>
</div>

<ng-template #loading>
  <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
</ng-template>
<ng-template #skeleton> <p-skeleton height="20rem"></p-skeleton></ng-template>
<ng-template #noTransactionData>
  <div class="row justify-content-center align-items-center my-3">
    <div
      class="col-10 d-flex justify-content-center align-items-center h1card"
      [style]="{ height: '50dvh' }"
    >
      <div class="d-flex flex-column align-items-center">
        <div>
          <h3>
            Oh Snap! Empty Records
            <fa-icon [icon]="emptyIcon" animation="spin-pulse"></fa-icon>
          </h3>
        </div>
        <div class="my-5 d-flex flex-column justify-content-evenly">
          <div class="add-transaction" [routerLink]="'/savings'">
            <h5>
              <fa-icon [icon]="pointRightIcon"></fa-icon>
              Go to Savings Dashboard
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
