<div class="container">
  <p-breadcrumb
    class="max-w-full m-2"
    [model]="breadcrumbItems"
    [home]="breadcrumbHome"
  ></p-breadcrumb>
  <div class="row justify-content-center align-items-center">
    <div class="col-8 text-center my-3 h1card">
      <h1>Recurring Transactions</h1>
    </div>
  </div>

  <div class="row justify-content-center align-items-start mt-3 custom-height">
    <div class="col-10">
      <div *ngIf="regularTransactions.length > 0; else emptyRegularTransaction">
        <div
          *ngFor="let reg of regularTransactions"
          class="regu-transaction-pill my-3 py-2 px-4"
        >
          <div class="d-flex justify-content-between align-items-center">
            <h4>
              <span
                ><p-tag [severity]="getSeverity(reg.tran.type)">
                  <span>{{ reg.tran.type | uppercase }}</span>
                </p-tag></span
              >
              {{ reg.tran.transactionName }}
              <span class="fs-6 font-monospace"
                >({{ reg.tran.categoryName }})</span
              >
            </h4>
            <!-- Desktop -->
            <p class="fs-5 font-monospace d-md-block d-none">
              Next transaction:
              {{ getDate(reg.tran.date) }}
            </p>
          </div>
          <!-- Mobile -->
          <div class="d-md-none">
            <p class="fs-6 font-monospace">
              Next transaction:
              {{ getDate(reg.tran.date) }}
            </p>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <p class="fs-5 font-monospace">
              Amount: {{ reg.tran.amount | currency }}
            </p>
            <div class="d-flex justify-content-evenly align-items-center">
              <p-inputSwitch
                [(ngModel)]="reg.active"
                (onChange)="toggleAcitveState(reg.active, reg.id)"
              ></p-inputSwitch>

              <p-button
                icon="pi pi-times"
                styleClass="p-button-rounded p-button-danger p-button-text"
                (onClick)="
                  deleteSelectedTransaction(
                    $event,
                    reg.id,
                    reg.tran.transactionName
                  )
                "
              ></p-button>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <p-button
          icon="pi pi-plus"
          styleClass="p-button-rounded  p-button-text p-button-raised"
          (onClick)="addTransaction()"
        ></p-button>
      </div>
    </div>
  </div>

  <p-toast></p-toast>
  <!-- SCROLL UP BTN -->
  <p-scrollTop></p-scrollTop>
</div>

<ng-template #emptyRegularTransaction>
  <div class="row justify-content-center align-items-center my-3">
    <div
      class="col-10 d-flex justify-content-center align-items-center h1card"
      [style]="{ height: '50dvh' }"
    >
      <div class="d-flex flex-column align-items-center">
        <div>
          <h3>
            Oh Snap! Empty Records
            <fa-icon [icon]="emptyIcon" animation="spin-pulse"></fa-icon>
          </h3>
        </div>

        <div class="my-5 d-flex flex-column justify-content-evenly">
          <div class="mt-2" class="add-transaction" (click)="addTransaction()">
            <h5>
              <fa-icon [icon]="pointRightIcon"></fa-icon>
              Add a regular transaction (toggle button below the form)
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
