<div class="container">
  <p-breadcrumb
    class="max-w-full m-2"
    [model]="breadcrumbItems"
    [home]="breadcrumbHome"
  ></p-breadcrumb>
  <div class="row justify-content-center align-items-center">
    <div class="col-8 text-center my-5 h1card">
      <h1>Portfolio Dashbooard</h1>
    </div>

    <div *ngIf="stocks; else noStockData">
      <section>
        <div class="row justify-content-evenly align-items-center">
          <!-- DONUT CHART -->
          <div class="col-4 donutbackground">
            <p-chart
              type="doughnut"
              [data]="donutData"
              [options]="donutOptions"
              [plugins]="chartPlugin"
            ></p-chart>
          </div>

          <!-- LINE CHART -->
          <div class="col-7 linebackground g-2">
            <div *ngIf="!skeletonLoading; else skeleton">
              <p-chart
                type="line"
                [data]="lineData"
                [options]="lineOptions"
                [plugins]="chartPlugin"
              ></p-chart>
            </div>
          </div>
        </div>
      </section>

      <!-- IMPORTANT TABLES -->
      <section class="m-3">
        <p-tabView>
          <!-- STOCKS -->
          <p-tabPanel>
            <ng-template pTemplate="header">
              <!-- <i class="pi pi-apple"></i> -->
              <span class="mx-2">Overview</span>
            </ng-template>

            <div
              class="row justify-content-evenly align-items-center"
              id="unrealized-profit-row"
            >
              <div class="col-10 d-flex justify-content-center h3-font">
                <h2>
                  Total Portfolio Value :
                  <span id="unrealized-market-value">
                    {{ totalStockMarketValue | currency : "USD" : "code" }}
                  </span>
                  <span id="dummy-unrealized-value">----</span>
                </h2>
                <span class="d-flex align-items-center ms-2">
                  <p-button
                    id="show-icon"
                    icon="pi pi-eye"
                    styleClass="p-button-rounded p-button-secondary p-button-text p-button-lg"
                    (onClick)="hideProfit()"
                  ></p-button>
                  <p-button
                    id="hide-icon"
                    icon="pi pi-eye-slash"
                    styleClass="p-button-rounded p-button-secondary p-button-text p-button-lg"
                    (onClick)="hideProfit()"
                  ></p-button>
                </span>
              </div>
              <div class="row justify-content-evenly align-items-center">
                <div class="col-10 d-flex justify-content-center h3-font">
                  <h2>
                    Unrealized P&L :
                    <span
                      id="unrealized-profit"
                      class="fw-lighter"
                      [className]="getProfitColorClass(unrealizedProfit)"
                    >
                      <i
                        [class]="getProfitIcon(unrealizedProfit)"
                        style="font-size: 1.5rem"
                      ></i>
                      {{ unrealizedProfit | currency : "USD" : "code" }} (
                      <span class="fw-lighter">
                        {{
                          unrealizedProfit /
                            (totalStockMarketValue - unrealizedProfit)
                            | percent : "1.2-2"
                        }}
                      </span>
                      )
                    </span>
                    <span id="dummy-unrealized-profit"> ----</span>
                  </h2>
                </div>
              </div>
            </div>

            <!-- NOTE Tree Table-->
            <div
              class="row justify-content-center align-items-center m-2 stock-card"
            >
              <div class="col-12 d-flex justify-content-center h3-font">
                <h3>Portfolio</h3>
              </div>
              <p-treeTable
                *ngIf="initTreeTableSignal(); else skeleton"
                id="stocktt"
                #stocktt
                [columns]="portfolioTableCols"
                [loading]="treeTableLoading"
                [value]="stockTreeTable"
                [scrollable]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                [paginator]="true"
                filterMode="strict"
                [globalFilterFields]="['symbol', 'name']"
                [scrollable]="true"
                scrollHeight="500px"
                [scrollable]="true"
                [frozenColumns]="frozenCols"
                [resizableColumns]="true"
                columnResizeMode="expand"
                [rows]="10"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5, 10, 15, 50, stockTreeTable.length]"
              >
                <ng-template pTemplate="caption">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div>
                      <button
                        pButton
                        pRipple
                        label="New"
                        icon="pi pi-plus"
                        class="p-button-rounded p-button-info mr-2 me-3"
                        routerLink="/investment"
                      ></button>
                    </div>
                    <div class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input
                        #treeInput
                        id="treeInput"
                        type="text"
                        pInputText
                        placeholder="Search symbol"
                        (input)="
                          stocktt.filterGlobal(treeInput.value, 'contains')
                        "
                      />
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th ttSortableColumn="symbol">
                      Symbol | Date
                      <span>
                        <p-treeTableSortIcon
                          field="symbol"
                        ></p-treeTableSortIcon>
                      </span>
                    </th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                    <th>Market Price</th>
                    <th>Performance</th>
                    <th>Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                  <tr [ttRow]="rowNode" *ngIf="rowData.quantity != 0">
                    <td *ngIf="!!!rowData.date">
                      <p-treeTableToggler
                        [rowNode]="rowNode"
                      ></p-treeTableToggler>
                      <p-avatar
                        *ngIf="rowData.logo"
                        [image]="rowData.logo"
                        shape="circle"
                      ></p-avatar>
                      <span>
                        <p-button
                          [label]="rowData.symbol"
                          styleClass="p-button-text p-button-primary"
                          (onClick)="goToYahoo(rowData.symbol)"
                          [pTooltip]="showUrl(rowData.symbol)"
                          tooltipPosition="right"
                        >
                        </p-button>
                      </span>
                    </td>
                    <td *ngIf="rowData.date">{{ rowData.date | date }}</td>
                    <td>{{ rowData.name }}</td>
                    <td>{{ rowData.quantity }}</td>
                    <td>{{ rowData.cost | currency }}</td>
                    <td>{{ rowData.marketPrice | currency }}</td>
                    <td [className]="getPerformanceClass(rowData.performance)">
                      {{ rowData.performance | percent : "1.2-2" }}
                    </td>
                    <td>
                      <span class="me-2">
                        <p-confirmPopup></p-confirmPopup>
                        <p-button
                          icon="pi pi-trash"
                          type="button"
                          styleClass="p-button-rounded p-button-danger"
                          (onClick)="
                            confirmDeleteTreeTable(
                              $event,
                              rowData.symbol,
                              rowData.purchaseId
                            )
                          "
                        ></p-button>
                      </span>
                      <span class="ms-1">
                        <p-button
                          label="Sell"
                          type="button"
                          styleClass="p-button-rounded p-button-success"
                          (onClick)="sellStockCount(rowData)"
                          [disabled]="rowData.quantity < 0"
                        ></p-button>
                      </span>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                  <!-- <p-button
                    icon="pi pi-download"
                    styleClass="p-button-text"
                  ></p-button> -->
                  <p-splitButton
                    icon="pi pi-download"
                    styleClass="p-button-text"
                    pTooltip="Export pdf"
                    (onClick)="exportPdfPortfolio()"
                    [model]="portfolioExportBtnItems"
                  ></p-splitButton>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                  <p-button
                    icon="pi pi-refresh"
                    styleClass="p-button-text"
                    (onClick)="refreshTreeTable()"
                  ></p-button>
                </ng-template>
              </p-treeTable>
            </div>
          </p-tabPanel>

          <!-- TRANSACTIONS -->
          <p-tabPanel>
            <ng-template pTemplate="header">
              <span class="mx-2">Transactions</span>
            </ng-template>
            <!-- PORTFOLIO TABLE -->
            <div
              class="row justify-content-center align-items-center m-5 stock-card"
            >
              <div class="col-12 d-flex justify-content-center h3-font">
                <h3>Stock Transactions</h3>
              </div>
              <p-table
                id="dt1"
                #dt1
                [columns]="transactionsTableCols"
                [value]="stocks"
                [loading]="loading"
                [tableStyle]="{ 'min-width': '50rem' }"
                [globalFilterFields]="['symbol', 'name', 'quantity', 'date']"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5, 10, 15, 50, stocks.length]"
              >
                <ng-template pTemplate="caption">
                  <div class="d-flex justify-content-between">
                    <div>
                      <button
                        type="button"
                        pButton
                        pRipple
                        icon="pi pi-file"
                        (click)="dt1.exportCSV()"
                        class="export-buttons"
                        pTooltip="CSV"
                        tooltipPosition="bottom"
                      ></button>
                      <button
                        type="button"
                        pButton
                        pRipple
                        icon="pi pi-file-excel"
                        (click)="exportExcelTransaction()"
                        class="p-button-success export-buttons"
                        pTooltip="XLS"
                        tooltipPosition="bottom"
                      ></button>
                      <button
                        type="button"
                        pButton
                        pRipple
                        icon="pi pi-file-pdf"
                        (click)="exportPdfTransaction()"
                        class="p-button-danger export-buttons"
                        pTooltip="PDF"
                        tooltipPosition="bottom"
                      ></button>
                    </div>
                    <div>
                      <button
                        pButton
                        label="Clear"
                        class="p-button-outlined"
                        icon="pi pi-filter-slash"
                        (click)="clear(dt1)"
                      ></button>
                      <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input
                          id="input1"
                          #input1
                          pInputText
                          type="text"
                          (input)="dt1.filterGlobal(input1.value, 'contains')"
                          placeholder="Search keyword"
                        />
                      </span>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 12%">
                      Symbol
                      <p-columnFilter
                        type="text"
                        field="symbol"
                        display="menu"
                      ></p-columnFilter>
                    </th>
                    <th style="width: 12.5%">Name</th>
                    <th style="width: 12.5%" pSortableColumn="date">
                      Purchased Date <p-sortIcon field="date"></p-sortIcon>
                    </th>
                    <th style="width: 12%" pSortableColumn="quantity">
                      Quantity <p-sortIcon field="quantity"></p-sortIcon>
                    </th>
                    <th style="width: 12.5%">Transaction Price</th>
                    <th style="width: 12.5%">Market Price</th>
                    <th style="width: 12%" pSortableColumn="percentage">
                      % Change <p-sortIcon field="percentage"></p-sortIcon>
                    </th>
                    <th style="width: 14%">Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-stock>
                  <tr>
                    <td>
                      <span
                        class="d-flex justify-content-evenly align-items-center"
                      >
                        <p-avatar
                          [image]="stock.logo"
                          shape="circle"
                        ></p-avatar>
                        <span>
                          <p-button
                            [label]="stock.symbol"
                            styleClass="p-button-text p-button-primary"
                            (onClick)="goToYahoo(stock.symbol)"
                            [pTooltip]="showUrl(stock.symbol)"
                            tooltipPosition="right"
                          >
                          </p-button>
                          <!-- {{ stock.symbol }} -->
                        </span>
                      </span>
                    </td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.date | date }}</td>
                    <td [className]="getPerformanceClass(stock.quantity)">
                      {{ stock.quantity }}
                    </td>
                    <td>{{ stock.price | currency }}</td>
                    <td>{{ stock.marketPrice | currency }}</td>
                    <td [className]="getPerformanceClass(stock.percentage)">
                      {{ stock.percentage | percent : "1.2-2" }}
                    </td>
                    <td>
                      <span class="me-2">
                        <p-confirmPopup></p-confirmPopup>
                        <p-button
                          icon="pi pi-trash"
                          type="button"
                          styleClass="p-button-rounded p-button-danger"
                          (onClick)="
                            confirmDelete(
                              $event,
                              stock.purchaseId,
                              stock.symbol
                            )
                          "
                        ></p-button>
                      </span>
                      <span class="ms-1">
                        <p-button
                          label="Sell"
                          type="button"
                          styleClass="p-button-rounded p-button-success"
                          (onClick)="sellStock(stock)"
                          [disabled]="!(stock.quantity > 0)"
                        ></p-button>
                      </span>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                  <p-button
                    type="button"
                    icon="pi pi-plus"
                    styleClass="p-button-text"
                    [routerLink]="'/investment'"
                  ></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                  <p-button
                    type="button"
                    icon="pi pi-refresh"
                    styleClass="p-button-text"
                    (onClick)="refreshTable()"
                  ></p-button>
                </ng-template>
              </p-table>
            </div>
          </p-tabPanel>

          <!-- SELL HISTORY -->
          <p-tabPanel>
            <ng-template pTemplate="header">
              <span class="mx-2">History</span>
            </ng-template>
            <div *ngIf="soldStocks; else noSoldStocks">
              <div class="row justify-content-evenly align-items-center">
                <div
                  class="col-10 d-flex justify-content-center h3-font"
                  id="unrealized-profit-row"
                >
                  <h2>
                    Realized P&L :
                    <span
                      id="realized-profit"
                      [className]="getProfitColorClass(realizedProfit)"
                    >
                      {{ realizedProfit | currency : "USD" : "code" }}
                    </span>
                    <span id="dummy-realized-profit">----</span>
                  </h2>
                  <span class="d-flex align-items-center ms-2">
                    <p-button
                      id="show-icon"
                      icon="pi pi-eye"
                      styleClass="p-button-rounded p-button-secondary p-button-text p-button-lg"
                      (onClick)="hideProfit()"
                    ></p-button>
                    <p-button
                      id="hide-icon"
                      icon="pi pi-eye-slash"
                      styleClass="p-button-rounded p-button-secondary p-button-text p-button-lg"
                      (onClick)="hideProfit()"
                    ></p-button>
                  </span>
                </div>
              </div>
              <div
                class="row justify-content-center align-items-center m-2 stock-card"
              >
                <div class="col-10 d-flex justify-content-center h3-font">
                  <h3>Sold Stocks Transactions</h3>
                </div>
                <p-table
                  id="dt2"
                  #dt2
                  [columns]="soldTableCols"
                  [value]="soldStocks"
                  [paginator]="true"
                  [loading]="loading"
                  [rows]="10"
                  [showCurrentPageReport]="true"
                  [tableStyle]="{ 'min-width': '50rem' }"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [rowsPerPageOptions]="[10, 15, 20, 50, soldStocks.length]"
                  [globalFilterFields]="['symbol', 'name', 'quantity', 'date']"
                  [exportHeader]="'customExportHeader'"
                >
                  <ng-template pTemplate="caption">
                    <div class="d-flex justify-content-between">
                      <div>
                        <button
                          type="button"
                          pButton
                          pRipple
                          icon="pi pi-file"
                          (click)="dt2.exportCSV()"
                          class="export-buttons"
                          pTooltip="CSV"
                          tooltipPosition="bottom"
                        ></button>
                        <button
                          type="button"
                          pButton
                          pRipple
                          icon="pi pi-file-excel"
                          (click)="exportExcelSoldStocks()"
                          class="p-button-success export-buttons"
                          pTooltip="XLS"
                          tooltipPosition="bottom"
                        ></button>
                        <button
                          type="button"
                          pButton
                          pRipple
                          icon="pi pi-file-pdf"
                          (click)="exportPdfSoldStocks()"
                          class="p-button-danger export-buttons"
                          pTooltip="PDF"
                          tooltipPosition="bottom"
                        ></button>
                      </div>
                      <div>
                        <button
                          pButton
                          label="Clear"
                          class="p-button-outlined"
                          icon="pi pi-filter-slash"
                          (click)="clear(dt2)"
                        ></button>
                        <span class="p-input-icon-left ml-auto">
                          <i class="pi pi-search"></i>
                          <input
                            id="input2"
                            #input2
                            pInputText
                            type="text"
                            (input)="dt2.filterGlobal(input2.value, 'contains')"
                            placeholder="Search keyword"
                          />
                        </span>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 14.3%">
                        Symbol
                        <p-columnFilter
                          type="text"
                          field="symbol"
                          display="menu"
                        ></p-columnFilter>
                      </th>
                      <th style="width: 14.3%">Name</th>
                      <th style="width: 14.3%" pSortableColumn="date">
                        Sold Date <p-sortIcon field="date"></p-sortIcon>
                      </th>
                      <th style="width: 14.3%" pSortableColumn="quantity">
                        Quantity <p-sortIcon field="percentage"></p-sortIcon>
                      </th>
                      <th style="width: 14.3%">Sold Price</th>
                      <th style="width: 14.3%">Net Profit</th>
                      <th style="width: 14.3%" pSortableColumn="percentage">
                        % ROI <p-sortIcon field="percentage"></p-sortIcon>
                      </th>
                      <!-- <th style="width: 14%">Action</th> -->
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-stock>
                    <tr>
                      <td>
                        <span
                          class="d-flex justify-content-evenly align-items-center"
                        >
                          <p-avatar
                            [image]="stock.logo"
                            shape="circle"
                          ></p-avatar>
                          <span>
                            {{ stock.symbol }}
                          </span>
                        </span>
                      </td>
                      <td>{{ stock.name }}</td>
                      <td>{{ stock.date | date }}</td>
                      <td>{{ stock.quantity }}</td>
                      <td>{{ stock.price | currency }}</td>
                      <td>{{ stock.netProfit | currency }}</td>
                      <td [className]="getPerformanceClass(stock.percentage)">
                        {{ stock.percentage | percent : "1.2-2" }}
                      </td>
                      <!-- <td>
                        <span class="me-2">
                          <p-confirmPopup></p-confirmPopup>
                          <p-button
                            icon="pi pi-trash"
                            type="button"
                            styleClass="p-button-rounded p-button-danger"
                            (onClick)="
                              confirmDelete($event, stock.purchaseId, stock.symbol)
                            "
                          ></p-button>
                        </span>
                        <span class="ms-1">
                          <p-button
                            label="Sell"
                            type="button"
                            styleClass="p-button-rounded p-button-success"
                            (onClick)="sellStock(stock)"
                          ></p-button>
                        </span>
                      </td> -->
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="paginatorleft">
                    <p-button
                      type="button"
                      icon="pi pi-plus"
                      styleClass="p-button-text"
                      [routerLink]="'/investment'"
                    ></p-button>
                  </ng-template>
                  <ng-template pTemplate="paginatorright">
                    <p-button
                      type="button"
                      icon="pi pi-refresh"
                      styleClass="p-button-text"
                      (onClick)="refreshSoldStockTable()"
                    ></p-button>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </section>
    </div>
  </div>
  <p-toast></p-toast>
</div>

<ng-template #skeleton> <p-skeleton height="20rem"></p-skeleton></ng-template>

<ng-template #noStockData>
  <div class="row justify-content-center align-items-center my-3">
    <div
      class="col-10 d-flex justify-content-center align-items-center h1card"
      [style]="{ height: '50dvh' }"
    >
      <div class="d-flex flex-column align-items-center">
        <div>
          <h3>
            Oh Snap! Empty Records
            <fa-icon [icon]="emptyIcon" animation="spin-pulse"></fa-icon>
          </h3>
        </div>

        <div class="my-5 d-flex flex-column justify-content-evenly">
          <div class="add-transaction" [routerLink]="'/investment'">
            <h5>
              <fa-icon [icon]="pointRightIcon"></fa-icon>
              Add portfolio transaction
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noSoldStocks>
  <div class="row justify-content-center align-items-center my-3">
    <div
      class="col-10 d-flex justify-content-center align-items-center"
      [style]="{ height: '50dvh' }"
    >
      <div class="d-flex flex-column align-items-center">
        <div>
          <h3 class="h3-font">
            Empty sold stocks record
            <fa-icon [icon]="emptyIcon" animation="spin-pulse"></fa-icon>
          </h3>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- UNUSED -->
<!-- <div class="row justify-content-evenly align-items-center">
      <div class="col-4 text-center my-2">
        <p-orderList
          [value]="stocksCount"
          [listStyle]="{ 'max-height': '30rem' }"
          filterBy="symbol"
          filterPlaceholder="Filter by symbol"
        >
          <ng-template let-stock pTemplate="item">
            <div class="flex align-items-center p-2 w-full flex-wrap">
              <div class="w-full text-center lg:w-auto lg:text-left">
                <span class="vertical-align-middle line-height-1">
                  <span
                    class="d-flex justify-content-center align-items-center"
                  >
                    <p-avatar
                      [image]="stock.logo"
                      styleClass="mr-2"
                      shape="circle"
                    ></p-avatar>
                    <span class="ms-2">
                      {{ stock.symbol }}
                    </span>
                  </span>
                </span>
              </div>
              <div class="flex-1">
                <h5 class="mb-2">
                  {{ stock.name }}
                </h5>
                <h5 class="mb-2">
                  {{ stock.marketPrice | currency }}
                  <span [className]="getPerformanceClass(stock.performance)">
                    ({{ stock.performance | percent : "1.2-2" }})
                  </span>
                </h5>
              </div>
              <div class="flex flex-column align-items-end">
                <h6 class="mb-2 text-muted">
                  {{ stock.cost | currency }} | {{ stock.quantity }}
                </h6>
              </div>
            </div>
          </ng-template>
        </p-orderList>
      </div>
    </div> -->
