<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-8 text-center my-5 h1card">
      <h1>Investment Dashbooard</h1>
    </div>

    <p-tabView>
      <!-- STOCKS -->
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-apple"></i>
          <span class="mx-2">Stocks</span>
        </ng-template>
        <div class="row justify-content-evenly align-items-center">
          <div class="col-4 text-center my-2">
            <p-orderList
              [value]="stocksCount"
              [listStyle]="{ 'max-height': '30rem' }"
              header="Stocks"
              filterBy="symbol"
              filterPlaceholder="Filter by symbol"
            >
              <ng-template let-stock pTemplate="item">
                <div class="flex align-items-center p-2 w-full flex-wrap">
                  <div class="w-full text-center lg:w-auto lg:text-left">
                    <i class="pi pi-tag vertical-align-middle mr-2"></i>
                    <span class="vertical-align-middle line-height-1">{{
                      stock.symbol
                    }}</span>
                  </div>
                  <div class="flex-1">
                    <h5 class="mb-2">
                      {{ stock.name }}
                    </h5>
                    <h5 class="mb-2">
                      {{ stock.marketPrice | currency }}
                      <span
                        [className]="getPerformanceClass(stock.performance)"
                      >
                        ({{ stock.performance | percent : "1.2-2" }})
                      </span>
                    </h5>
                  </div>
                  <div class="flex flex-column align-items-end">
                    <h6 class="mb-2 text-muted">
                      {{ stock.cost | currency }} | {{ stock.quantity }}
                    </h6>
                    <!-- <p-tag
                      [value]="product.inventoryStatus"
                      [severity]="getSeverity(product.inventoryStatus)"
                    ></p-tag> -->
                  </div>
                </div>
              </ng-template>
            </p-orderList>
          </div>

          <!-- LINE CHART -->
          <div class="col-7 chartcard g-2">
            <p-chart
              type="line"
              [data]="lineData"
              [options]="lineOptions"
            ></p-chart>
          </div>
        </div>

        <div
          class="row justify-content-center align-items-center m-5 stock-card"
        >
          <p-table
            #dt1
            [value]="stocks"
            [paginator]="true"
            [loading]="loading"
            [rows]="5"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 15]"
            [globalFilterFields]="['symbol', 'name', 'quantity', 'date']"
          >
            <ng-template pTemplate="caption">
              <div class="d-flex justify-content-between">
                <button
                  pButton
                  label="Clear"
                  class="p-button-outlined"
                  icon="pi pi-filter-slash"
                  (click)="clear(dt1)"
                ></button>
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input
                    #input1
                    pInputText
                    type="text"
                    (input)="dt1.filterGlobal(input1.value, 'contains')"
                    placeholder="Search keyword"
                  />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 14.3%">
                  Symbol
                  <p-columnFilter
                    type="text"
                    field="symbol"
                    display="menu"
                  ></p-columnFilter>
                </th>
                <th style="width: 14.3%">Name</th>
                <th style="width: 14.3%" pSortableColumn="date">
                  Purchase Date <p-sortIcon field="date"></p-sortIcon>
                </th>
                <th style="width: 14.3%" pSortableColumn="quantity">
                  Quantity <p-sortIcon field="percentage"></p-sortIcon>
                </th>
                <th style="width: 14.3%">Strike Price</th>
                <th style="width: 14.3%">Market Price</th>
                <th style="width: 14.3%" pSortableColumn="percentage">
                  % Change <p-sortIcon field="percentage"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-stock>
              <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.date | date }}</td>
                <td>{{ stock.quantity }}</td>
                <td>{{ stock.price | currency }}</td>
                <td>{{ stock.marketPrice | currency }}</td>
                <td>{{ stock.percentage | percent : "1.2-2" }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <p-button
                type="button"
                icon="pi pi-plus"
                styleClass="p-button-text"
              ></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
              <p-button
                type="button"
                icon="pi pi-cloud"
                styleClass="p-button-text"
              ></p-button>
            </ng-template>
          </p-table>
        </div>
      </p-tabPanel>

      <!-- CRYPTO -->
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-bitcoin"></i>
          <span class="mx-2">Crypto</span>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
