<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-10 m-3 text-center">
      <form [formGroup]="form" (submit)="sellStock()">
        <div class="row justify-content-center align-items-center">
          <div class="col-8 text-center">
            <div class="ncard flex justify-content-center">
              <span class="p-float-label">
                <input
                  type="text"
                  pInputText
                  [readOnly]="true"
                  formControlName="symbol"
                />
                <label htmlFor="symbol">Symbol</label>
              </span>
            </div>
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-8 text-center">
            <div class="ncard flex justify-content-center">
              <span class="p-float-label">
                <input
                  type="text"
                  pInputText
                  [readOnly]="true"
                  formControlName="name"
                />
                <label htmlFor="name">Name</label>
              </span>
            </div>
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-8 text-center">
            <div class="ncard flex justify-content-center">
              <span class="p-float-label">
                <p-inputNumber
                  formControlName="price"
                  [showButtons]="true"
                  buttonLayout="horizontal"
                  inputId="horizontal"
                  spinnerMode="horizontal"
                  [step]="10.0"
                  decrementButtonClass="p-button-danger"
                  incrementButtonClass="p-button-success"
                  incrementButtonIcon="pi pi-plus"
                  decrementButtonIcon="pi pi-minus"
                  mode="currency"
                  currency="USD"
                ></p-inputNumber>
                <label htmlFor="price">Price</label>
              </span>
            </div>
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-8 text-center">
            <div class="ncard flex justify-content-center">
              <span class="p-float-label">
                <p-inputNumber
                  formControlName="quantity"
                  mode="decimal"
                  [showButtons]="true"
                  inputId="minmax-buttons"
                  [min]="0.1"
                  [max]="10000"
                  [minFractionDigits]="0"
                  [maxFractionDigits]="2"
                >
                </p-inputNumber>
                <label htmlFor="quantity">Quantity</label>
              </span>
            </div>
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-8 text-center">
            <div class="ncard flex justify-content-center">
              <span class="p-float-label">
                <p-calendar
                  formControlName="date"
                  [showIcon]="true"
                  [maxDate]="maxDate"
                  dateFormat="dd-mm-yy"
                ></p-calendar>
                <label htmlFor="date">Date</label>
              </span>
            </div>
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-8 text-center">
            <div class="ncard flex justify-content-center">
              <span class="p-float-label">
                <p-inputNumber
                  formControlName="fees"
                  [showButtons]="true"
                  buttonLayout="horizontal"
                  inputId="horizontal"
                  spinnerMode="horizontal"
                  [step]="0.5"
                  decrementButtonClass="p-button-danger"
                  incrementButtonClass="p-button-success"
                  incrementButtonIcon="pi pi-plus"
                  decrementButtonIcon="pi pi-minus"
                  mode="currency"
                  currency="USD"
                ></p-inputNumber>
                <label htmlFor="fees">Fees</label>
              </span>
            </div>
          </div>
        </div>

        <div class="row justify-content-center align-items-center my-3">
          <div class="col-8 text-center">
            <button
              pButton
              pRipple
              label="Confirm"
              icon="pi pi-check"
              [disabled]="form.invalid"
            ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
