<div class="container">
  <p-breadcrumb
    class="max-w-full m-2"
    [model]="breadcrumbItems"
    [home]="breadcrumbHome"
  ></p-breadcrumb>
  <div class="row justify-content-center align-items-center">
    <div class="col-8 text-center mt-3 mb-5 h1card">
      <h1>Mortgage Calculator</h1>
    </div>
  </div>
  <div class="row justify-content-evenly align-items-center">
    <div class="col-5 form-card">
      <div class="d-flex flex-column m-4">
        <label htmlFor="transactionName">Loan Amount</label>
        <p-inputNumber
          mode="decimal"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          [(ngModel)]="loanAmount"
          (onInput)="calculate()"
        >
        </p-inputNumber>
        <p-slider
          [(ngModel)]="loanAmount"
          [min]="0"
          [max]="2000000"
          [step]="50000"
          (onSlideEnd)="calculate()"
          (onChange)="calculate()"
          class="mt-2"
        ></p-slider>
      </div>
      <div class="d-flex flex-column m-4">
        <label htmlFor="transactionName">Loan Term</label>
        <div class="p-inputgroup">
          <p-inputNumber
            id="term"
            inputId="integeronly"
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
            [(ngModel)]="loanTerm"
            (onInput)="calculate()"
          >
          </p-inputNumber>

          <p-dropdown
            [options]="types"
            [(ngModel)]="typeOfLoanTerm"
            optionLabel="label"
            optionValue="value"
            [style]="{ width: '100%' }"
            (onChange)="onChangeTypeOfTerm()"
          ></p-dropdown>
        </div>
        <p-slider
          [(ngModel)]="loanTerm"
          [min]="minLoanTerm"
          [max]="maxLoanTerm"
          (onSlideEnd)="calculate()"
          class="mt-2"
          (onChange)="calculate()"
        ></p-slider>
      </div>
      <div class="d-flex flex-column m-4">
        <label htmlFor="transactionName">Interest Rate</label>
        <p-inputNumber
          id="interest"
          mode="decimal"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          [(ngModel)]="interestRate"
          (onInput)="calculate()"
        >
        </p-inputNumber>
        <p-slider
          [(ngModel)]="interestRate"
          [min]="0"
          [max]="100"
          (onSlideEnd)="calculate()"
          class="mt-2"
          (onChange)="calculate()"
        ></p-slider>
      </div>

      <div class="d-flex justify-content-evenly align-items-center mt-3 mb-4">
        <span class="p-buttonset">
          <button
            pButton
            pRipple
            label="Portfolio"
            icon="pi pi-plus"
            (click)="addToPortfolio()"
          ></button>

          <button
            pButton
            label="Amortization"
            icon="pi pi-table"
            (click)="getAmortizationTable()"
          ></button>
        </span>
      </div>
    </div>

    <div class="col-4 trans-card">
      <div class="mortgage-data">
        <p class="font-monospace fw-bolder fs-3">
          Monthly Payment:
          <span class="monthlyRepayment-color">{{
            monthlyRepayment() | currency
          }}</span>
        </p>
        <p class="font-monospace fs-5">
          Total Interest:
          <span class="interest-color">{{
            repaymentAmountData()[1] | currency
          }}</span>
        </p>
        <p class="font-monospace fs-5">
          Total Repayment:
          <span class="principal-color">{{
            repaymentAmountData()[0] + repaymentAmountData()[1] | currency
          }}</span>
        </p>
      </div>
      <p-chart
        type="doughnut"
        [data]="donutData"
        [options]="donutOptions"
      ></p-chart>
    </div>
  </div>

  <div *ngIf="showSkeleton">
    <p-skeleton height="50dvh"></p-skeleton>
  </div>

  <div
    *ngIf="showAmortizationChart"
    class="row justify-content-center align-items-center my-5"
  >
    <div class="col-10 mortgage-line-card">
      <p-chart type="line" [data]="lineData" [options]="lineOptions"></p-chart>
    </div>
  </div>

  <div
    *ngIf="showAmortizationTable"
    class="row justify-content-center align-items-center"
  >
    <div class="col-10 mortgage-card">
      <p-treeTable
        id="mortgagett"
        #mortgagett
        [value]="mortgageRepaymentData"
        [columns]="mortgageTreeTableCols"
        [paginator]="true"
        [rows]="10"
        [scrollable]="true"
        [tableStyle]="{ 'min-width': '30dvh' }"
        [scrollable]="true"
        scrollHeight="500px"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 15, 50, mortgageData.length]"
      >
        <ng-template pTemplate="caption">
          <div class="d-flex justify-content-between">
            <div>
              <h3>
                <span class="principal-color">Principal</span> +
                <span class="interest-color">Interest</span> = Payment
              </h3>
            </div>
            <div>
              <span class="me-3">
                <span> Expand all years </span>
                <p-inputSwitch
                  [(ngModel)]="expandTreeTable"
                  (onChange)="toggleExpandTreeTable()"
                ></p-inputSwitch>
              </span>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <!-- <th *ngFor="let col of columns">
              {{ col.header }}
            </th> -->
            <th>Date</th>
            <th><span class="principal-color">Principal</span></th>
            <th><span class="interest-color">Interest</span></th>
            <th><strong>Payment</strong></th>
            <th>Total Interest Paid</th>
            <th>Total Remaining Balance</th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-rowNode
          let-rowData="rowData"
          let-columns="columns"
        >
          <tr
            [ttRow]="rowNode"
            [ngClass]="{ 'p-highlight': isNumber(rowData.date) }"
          >
            <td>
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{ rowData.date }}
            </td>
            <td>
              <span class="principal-color">
                {{ rowData.principal | currency }}
              </span>
            </td>
            <td>
              <span class="interest-color">
                {{ rowData.interest | currency }}
              </span>
            </td>
            <td>
              <strong>
                {{ rowData.payment | currency }}
              </strong>
            </td>
            <td>
              {{ rowData.totalInterestPaid | currency }}
            </td>
            <td>
              {{ rowData.balanceRemaining | currency }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <p-splitButton
            icon="pi pi-download"
            styleClass="p-button-text"
            pTooltip="Export pdf"
            (onClick)="exportPdfMortgageTable()"
            [model]="mortgageExportBtnItems"
          ></p-splitButton>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <i
            class="pi pi-info-circle"
            pTooltip="Amortization schedule breakdown"
          ></i>
        </ng-template>
      </p-treeTable>
    </div>
  </div>
  <p-toast></p-toast>
  <p-scrollTop></p-scrollTop>
</div>

<ng-template #skeleton> <p-skeleton height="20rem"></p-skeleton></ng-template>
